* {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    background-color: powderblue;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
  }
  
  :root {
    --primary-color: #3FC060;
    --secondary-color: #162328;
  }
